// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#user_container {
  padding-left: 40px;
  padding-top: 20px;
  

  .username {
    padding: 20px;

  }

  .username::before {
    content: url(avatar.png);

  }
}

